
SpaceCabybara/Saved/Logs/SpaceCabybara.log

SpaceCabybara/Saved/AutoScreenshot.png

SpaceCabybara/Saved/Config/CrashReportClient/UECC-Windows-12E9AA634656D33D69A7C48B53B87C22/CrashReportClient.ini

SpaceCabybara/Saved/Crashes/UECC-Windows-94D2DCC84694F77E435B0392E52EAD10_0000/CrashReportClient.ini
